.page__header {
  margin: 45px auto 0 auto;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .page__header {
    margin-top: calc(28px + (45 - 28) * (100vw - 320px) / (1280 - 320) );
    padding-left: calc(28px - 28 * (100vw - 580px) / (1280 - 580));
  }
}

@media screen and (max-width: 580px) {
  .page__header {
    margin-top: 28px;
    padding-left: 27px;
  }
}
